.stop {
  color: #ffcc00;
}

.div-platforms {
  height: 100px;
  width: 100px;
  margin: 2rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 2000px;
  min-height: 600px;
  margin-top: 50px;
  color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 50px rgb(0, 0, 0);
  overflow: hidden;
  background-image: url("/img/ddrfu5v-8497eeac-ad03-4abf-957a-63159599231e.jpg");
  background-position: center;
  background-size: cover;
}
.linkJumbo {
  font-size: 50px;
  font-weight: bolder;
}

.linkJumbo:hover {
  scale: 1.5;
  color: #ffcc00;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

body {
  background-image: url("/img/1000_F_524741041_RBfJBzahjDcEHI0bG3Azw2225SoQfNOh.jpg");
}

.div-platforms:hover {
  scale: 1.5;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.link-platforms {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 50px;
}

.link-platforms i {
  font-size: 3rem;
  color: rgb(255, 255, 255);
}

.div-platforms {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.88);
  border-radius: 50px;
}
.iconplat {
  font-size: 100px;
}

.logobool {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);

  color: white;
  font-size: 5rem;
  opacity: 1;
  font-weight: bolder;
}

.cardGame {
  position: relative;
  height: 650px;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 3px 10px 3px #fac803;
  transition: transform 0.3s;
}

.cardGame:hover {
  transform: scale(1.03);
  box-shadow: 0px 3px 10px 10px #fac803;
}

.cardGame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.5s ease;
}

.cardGame:hover img {
  transform: scale(1.1);
  filter: brightness(0.6);
}

.infoCard {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.88);
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  border-radius: 20px;
  text-align: center;
}

.cardGame:hover .infoCard {
  opacity: 1;
}

.infoCard h5 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  font-weight: bold;
  color: #ffcc00;
  text-shadow: 1px 1px 5px black;
}

.infoCard p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #eee;
}

.infoCard .btn {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border-radius: 30px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(255, 204, 0, 0.5);
}

.infoCard .btn-warning {
  background-color: #ffcc00;
  color: black;
  border: none;
}

.heart {
  color: red;
  font-size: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.heart:hover {
  transform: scale(1.3);
}

.allListTitle {
  color: #ffcc00;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.listGame {
  list-style: none;
  background-color: #ffc107;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 2.5);
  color: #000000;
  font-size: 1.5rem;
}
.listGameItem {
  padding: 0.5rem;
  border-bottom: 1px solid #000000;
  transition: background-color 0.3s, transform 0.3s;
}

.no-link-style {
  color: inherit;
  text-decoration: none;
}

.listGameItem:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  cursor: pointer;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.967);
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.bottonContainer button {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 2.5);
}

.filter {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 2.5);
  margin: 1rem 0;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #ffcc00;
}

.badge-amount {
  top: 20%;
  right: 0;
  transform: translate(50%, -50%);
  font-size: 15px;
}

.wrapper {
  background-color: white;
  height: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.addtocard {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #ffcc00;
  border-radius: 7px;
  font-size: 2rem;
}

.discounted-games {
  background-color: rgba(0, 0, 0, 0.88);
  border-radius: 50px;
}

.related-games {
  color: white;
  background: radial-gradient(circle at center, #111111dc 0%, #000 100%);
  border-radius: 50px;
}

.wishlist-container {
  background: radial-gradient(circle at center, #111 0%, #000 100%);
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.05);
  min-height: 100vh;
  padding: 0 2rem;
}

.wishlist-title {
  color: #ffcc00;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
}

.empty-wishlist {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  border-radius: 20px;
}

.videogames-container {
  background: radial-gradient(circle at center, #111111dc 0%, #000 100%);
  border-radius: 20px;
  min-height: 100vh;
}

.wishlist-container,
.videogames-container {
  padding: 0 3rem;
  max-width: 1600px;
  margin: 0 auto;
  box-shadow: 0 0 50px rgba(0, 0, 0, 1.5);
}

.titleDetailGame {
  color: #ffffff;
  font-weight: bold;
  font-size: 80px;
  text-shadow: 2px 2px 80px #d7ad06;
  border-bottom: #ffca2c solid 2px;
  margin-bottom: 50px;
}

#imgDetail {
  max-width: 500px;
  border-radius: 20px;

  box-shadow: 0px 0px 60px #ffca2c;
}
.btn:hover {
  box-shadow: 0px 0px 20px rgba(255, 202, 44, 0.5);
}
