.div-platforms {
  height: 50px;
  width: 50px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-homepage {
  background-image: url("../public/img/1000_F_524741041_RBfJBzahjDcEHI0bG3Azw2225SoQfNOh.jpg");
}

.jumbotron {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
}

img {
  width: 50%;
}
